<div class="bg" style="width: 100vw; height: 100vh">
  <div class="row">
    <div class="col-md-3" id="container">

      <div class="card" id="card-color" >
        <div class="d-flex flex-column">
          <div class="brand-logo">
            <img src="../../../../assets/img/1002.png_860-removebg-preview.png" alt="brand-logo"/>
          </div>
        </div>
      
        <div class="card-body" >
          <div class="form-group">
              <label for="user" style="color: white; text-align: left" class="form-label">Usuário</label>
              <input id="user" type="text" class="form-control">
          </div>
          <div class="form-group mt-2">
              <label for="password" style="color: white; text-align: left" class="form-label">Senha</label>
              <input id="password" type="password" class="form-control">
          </div>
          <hr class="border-light"/>
          <div class="mt-2" id="botoes">
              <button class="btn" rippleEffect>
                <span> Entrar </span>
              </button>
              <button class="btn" rippleEffect>
                <span> Cadastrar </span>
              </button>
          </div>
          <div class="mt-1">
          <a  style="text-decoration: none; font-size: 12px"> Esqueceu sua senha? <span style="text-decoration: underline; font-size: 12px">Clique aqui.</span></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

