<div class="bg" style="width: 100vw; height: 100vh">
  <div class="row">
    <div class="col-md-4" id="container">
      <div class="card border border-dark shadow-box" style="background-color: black">
       <a class="brand-logo" href="javascript:void(0);">
        
          <img src="assets/img/pngtree-travel-logo-holidays-tourism-business-trip-company-logo-design-vector-illustration-png-image_1808446.png" alt="brand-logo"
       /> <h4 class="card-header" style="background-color: black; color: white">Login</h4>
        </a>
        <div class="card-body" style="background-color: black">
          <div class="row">
            <div class="col-md-12">
              <label for="user" style="color: white; text-align: left" class="form-label">Usuário</label>
              <input id="user" type="text" class="form-control">
            </div>
            <div class="col-md-12">
              <label for="password" style="color: white; text-align: left" class="form-label">Senha</label>
              <input id="password" type="password" class="form-control">
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary mt-4  m-lg-3" rippleEffect>
                <span> Entrar </span>
              </button>
              <button class="btn btn-warning mt-4 m-lg-3" rippleEffect>
                <span> Cadastrar </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>